@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
}

.container {
    background-color: #0D0D23;

}

.container-menu {
    padding: 32px 0;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav img {
    width: 12%;
}

.links_menu a {
    padding: 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
    text-decoration: none;
}

.links_menu a:hover {
    color: rgb(194, 14, 14);
    transition: 1s;
}

.form-header-wrapper[data-v-7a34214f] {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.1em;
    margin-top: 1em;
}

.form.view .form-title[data-v-7a34214f] {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 750px;
    width: 100%;
    padding-bottom: 0;
}

.question .question-info {
    display: flex;
    flex-wrap: wrap;
}

.form.view .question .question-info .question-order {
    top: 0 !important;
}

.question .question-info .question-order {
    color: #ED4548 !important;
}

.question .question-info .question-title {
    color: #FAFAFA !important;
}

.question .question-info .question-title {
    font-weight: 500;
    font-size: 1.14rem;
}

.question .question-info .editable-input {
    display: block;
    word-break: break-word;
    min-height: 1em;
}
  

.question .question-body .full {
    display: flex;
  }
  .question .question-body .input-field, .question .question-body .select-wrapper {
    flex-basis: 50%;
    margin-right: .4em;
    flex: 1;
  }
  .input-field[data-v-7b1c5daf] {
    position: relative;
  }
  .view .question .question-body .input-field .f-input {
  }
  .question .question-body .input-field:not(.naked) .f-input {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(222, 222, 222, 0.56);

  }
  .view .question .question-body .input-field input {
    color: #FFFFFF !important;}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.banner h1 {
    width: 802px;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin: 60px 0;

}

.card_diferencial {
    flex-direction: column;
    justify-content: center;
    width: 365px;
    height: 333px;
    background: rgba(27, 27, 44, 0.5);
    border-radius: 66.6667px;
    margin: 0px 33.3333px;
    width: 368.89px;
    height: 333.33px;
}

.card_diferencial i {
    padding: 33px;
    font-size: 70px;
}

.card_diferencial h2 {
    font-family: 'Montserrat', sans-serif;
    line-height: 33px;
    color: #EBEBEB;
    padding-bottom: 15px;
}

.card_diferencial p {
    width: 315.56px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16.67px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.6;
}

.cards_diferenciais {
    display: flex;
    padding: 0px 133.333px;
}

.servicos .titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    margin: 64px 0;
}

.cards_servicos p {
    text-align: center;
    padding-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #FFFFFF;
    margin: 0 0 42px 0;
}

.card_cerca img {
    border-radius: 20px;
    flex-direction: column;
}

.card_alarme img {
    border-radius: 20px;
}

.card_cftv img {
    border-radius: 20px;
}

.paragrafo_portifolio {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.6;
    margin: 0 0 25px 0;
}

.paragrafo {
    height: 29px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    opacity: 0.6;
    text-align: left;
    width: 495.65px;
    margin: 0 0 80px 0;
}

.btn button {
    width: 176px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    border: none;
    flex: none;
    background-color: transparent;
    padding-top: 10px;
}

.btn img {
    height: 19.15px;
    left: 205.55px;
    top: 20.42px;
    padding-right: 25px;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    margin: 25px 0;
}

.cards_app div {
    width: max-content;
}

.card_app_text {
    margin: 270px 21px 160px 0;
}

.card_img_app img {
    position: absolute;
    left: 965px;
    top: 172%;
}

.centered {
    margin: 0 auto 0 !important;
    float: none !important;
}

.centered h5 {
    margin-bottom: 30px;
}

.list-unstyled i {
    font-size: 25px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 250px;
    height: 60px;
}